#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.typeahead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taw-card {
  background-color: lightgrey;
}

.label {
  font-size: 1.5rem;
}

.content {
  margin-left: .5rem;
}

.content-bold {
  font-size: 1.5rem;
  font-weight: bold;
}

.pronunciation {
  font-style: italic;
  font-size: 1rem;
  white-space: nowrap;
  word-break: keep-all;
}

.trivia {
  font-size: 1rem!important;
}